*{
    margin: 0;
    padding: 0;
}

.body,
.calculator,
.screen,
.buttons,
.digits,
.operators{
    display: flex;
    flex-wrap: wrap;
}


button{
    width: 55px;
    height: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 40px;
}


.calculator{
    background-color: #214a65;

    width: 450px;
    height: 500px;
    margin: 50px auto;
    padding: 50px;
    box-sizing: border-box;
}

.screen{
    background-color: #8cc8f0;
    height: 100px;
    flex: 1 0 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 40px
}

.buttons{
    align-items: start;
    flex: 1;
}

.digits{
    
    width: 195px;
    margin-right: auto;
    gap: 10px;
}

.operators{
    width: 140px;
    gap: 10px;
    justify-content: right;
}

#clear{
    flex: 1 0 300px;
}